<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">
    <!-- Required to allow the app to send events and user profile information -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Recommended so that CleverTap knows when to attempt a network call -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="RK4-R6K-565Z"/>
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="362-432"/>
        <!-- IMPORTANT: To force use Google AD ID to uniquely identify  users, use the following meta tag. GDPR mandates that if you are using this tag, there is prominent disclousure to your end customer in their application. Read more about GDPR here - https://clevertap.com/blog/in-preparation-of-gdpr-compliance/ -->
        <meta-data
            android:name="CLEVERTAP_USE_GOOGLE_AD_ID"
            android:value="1"/>
        <service
            android:name="com.clevertap.android.sdk.FcmTokenListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="com.clevertap.android.sdk.FcmMessageListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!--use CTBackgroundIntentService to target users below Android 21 (Lollipop)-->
        <service
            android:name="com.clevertap.android.sdk.CTBackgroundIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.clevertap.BG_EVENT"/>
            </intent-filter>
        </service>

        <!--use CTBackgroundJobService to target users on and above Android 21 (Lollipop)-->
        <service
            android:name="com.clevertap.android.sdk.CTBackgroundJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
    </application>

    <meta-data
        android:name="675579704559"
        android:value="id:1234567890"/>
    <meta-data
        android:name="CLEVERTAP_BACKGROUND_SYNC"
        android:value="1"/>
    <meta-data
        android:name="CLEVERTAP_NOTIFICATION_ICON"
        android:value="ic_launcher_background"/>

</manifest>